<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User List</title>
</head>
<body>
    <h1>   Welcome User!!</h1>
    <form th:method="GET" th:action="@{/users/new}" th:object="${user}">
        <input type="submit" value="Registr!"/></form>

        <br>
    <h1>Users: </h1>

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
        </tr>
        <tr th:each="user:${users}">
            <td th:text="${user.id}"></td>
            <td><a th:href="@{/users/{id}(id=${user.id})}" th:text="${user.name}"></a></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
</body>
</html>